body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-bg {
  background: #122ab2;
}

.superinfo a,
.superinfo p {
  color: white;
  margin: 0 10px 10px 10px;
}

.superinfo {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  /* tranforma de in-line para block para poder trabalhar com o paddin do "a" */
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

.introducao {
}

.sobre {
}

.sobre-info {
}

.sobre-img {
}

.produtos {
}

.produtos-container {
}

.produtos-item {
}

.purple {
}

.pink {
}

.blue {
}

.preco {
}

.preco-item {
}

.qualidade {
}

.qualidade-item {
}

.newsletter {
}

.newsletter-info {
}

.newsletter-form {
}

.footer {
}
