body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-bg {
  background: #122ab2;
}

.superinfo a,
.superinfo p {
  color: white;
  margin: 0 10px 10px 10px;
}

.superinfo {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  border-color: white;
}

.menu-bg {
}

.menu {
}

.menu-logo {
}

.introducao {
}

.sobre {
}

.sobre-info {
}

.sobre-img {
}

.produtos {
}

.produtos-container {
}

.produtos-item {
}

.purple {
}

.pink {
}

.blue {
}

.preco {
}

.preco-item {
}

.qualidade {
}

.qualidade-item {
}

.newsletter {
}

.newsletter-info {
}

.newsletter-form {
}

.footer {
}
